<footer class="footer">
    <div class="content">
        <div class="footer__columns">

            <div class="footer__column">
                <h3 class="footer__heading heading-3">Sekce</h3>
                <a href="#" class="footer__link">Uslorem</a>
                <a href="#" class="footer__link">Lorem Ipsum</a>
                <a href="#" class="footer__link">Poles Omel</a>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading heading-3">Sekce</h3>
                <a href="#" class="footer__link">Prellentesque Qam</a>
                <a href="#" class="footer__link">Tristique Senectus</a>
                <a href="#" class="footer__link">Ninhil Impedit</a>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading heading-3">Sekce</h3>
                <a href="#" class="footer__link">Poles Omel</a>
                <a href="#" class="footer__link">Ullamcorper Ac</a>
                <a href="#" class="footer__link">Uslorem</a>
            </div>
        </div>
        <p class="footer__txt"><span class="footer__made-love">Made with love <img src="./imgs//icons/heart.svg" alt="<3" class="footer__heart"></span><span class="footer__icons">
            <a href="https://facebook.com"><img src="./imgs/icons/facebook.svg" alt="Facebook logo" class="footer__icon"></a>
        <a href="https://instagram.cz"><img src="./imgs/icons/instagram.svg" alt="Instagram logo" class="footer__icon"></a>
        <a href="https://youtube.com"><img src="./imgs/icons/youtube.svg" alt="Youtube logo" class="footer__icon"></span></a>
        </p>
    </div>
</footer>
