---
layout: layouts/base.njk
section: home
---
<section class="section hero">
    <div class="hero__img-box">
            <img src="./imgs/hero.png" alt="Ukázka z akce" class="hero__img">
            <button class="hero__play">
                <img src="./imgs/icons/play.svg" alt="Přehrát" class="hero__play-icon">
            </button>
    </div>
    <p class="hero__moto">Vyprávíme a učíme<br>vyprávět</p>
</section>
<section class="section events">
    <h1 class="heading-1 events__heading">Akce</h1>
    <div class="event">
        <img src="./imgs/event-placeholder-1.png" alt="Něco co se děje na prvním eventu" class="event__img">
        <h2 class="heading-2 event__heading">nadpis akce</h2>
        <span class="event__date">24.11.2019</span>
        <p class="event__place">Bohuslavice nad Metují</p>
        <p class="event__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe eaque hic
            amet eligendi alias dolore exercitationem totam soluta sed!</p>
        <a href="#" class="btn event__more">Zjistit Více</a>
    </div>
    <div class="event">
        <img src="./imgs/event-placeholder-1.png" alt="Něco co se děje na prvním eventu" class="event__img">
        <h2 class="heading-2 event__heading">nadpis akce</h2>
        <span class="event__date">24.11.2019</span>
        <p class="event__place">Bohuslavice nad Metují</p>
        <p class="event__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe eaque hic
            amet eligendi alias dolore exercitationem totam soluta sed!</p>
        <a href="#" class="btn event__more">Zjistit Více</a>
    </div>
    <div class="event">
        <img src="./imgs/event-placeholder-1.png" alt="Něco co se děje na prvním eventu" class="event__img">
        <h2 class="heading-2 event__heading">nadpis akce</h2>
        <span class="event__date">24.11.2019</span>
        <p class="event__place">Bohuslavice nad Metují</p>
        <p class="event__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe eaque hic
            amet eligendi alias dolore exercitationem totam soluta sed!</p>
        <a href="#" class="btn event__more">Zjistit Více</a>
    </div>
    <div class="event">
        <img src="./imgs/event-placeholder-1.png" alt="Něco co se děje na prvním eventu" class="event__img">
        <h2 class="heading-2 event__heading">nadpis akce</h2>
        <span class="event__date">24.11.2019</span>
                    <p class="event__place">Bohuslavice nad Metují</p>
                    <p class="event__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe eaque hic amet eligendi alias dolore exercitationem totam soluta sed!</p>
                    <a href="#" class="btn event__more">Zjistit Více</a>
                </div>
                <a href="#" class="btn events__more">Zobrazit více akcí</a>
            </section>
            <section class="section what">
                <div class="what__img-box">
                    <img src="./imgs/what-is-it-placeholder.png" alt="Vyprávějící" class="what__img">
                </div>
                <h1 class="what__heading heading-1">Co to je?</h1>
                <p class="what__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa vero iusto amet doloribus corporis accusantium nostrum unde quas accusamus eum ipsum error natus odio sed quae vel, eius maxime.</p>
            </section>
